%fs11 { font-size: 11px; }
%fs12 { font-size: 12px;}
%fs14 {font-size: $font-size-14;}
%fs22 { font-size: 1.571rem; }
%fs24 { font-size: 1.714rem; }
%fs26 { font-size: 1.857rem; }
%fs32 { font-size: 2.286rem; }

%font-poppins-regular { font-family: 'poppins-regular', sans-serif; }
%font-poppins-semibold { font-family: 'poppins-semibold', sans-serif; }
%font-poppins-bold { font-family: 'poppins-bold', sans-serif; }

%block-rounded { border-radius: 30px; }
%block-shadow {
    background-color: $color--FFFFFF;
    box-shadow: 0px 10px 60px 0px #E2ECF980; 
}

%hide { display: none; }

/*      Start extends for flex      */
%flex { 
    display: flex 
}

%flex-column {
    @extend %flex;
    flex-direction: column;
}

%flex-space-between {
    @extend %flex;
    justify-content: space-between;
}

%flex-column-space-between {
    @extend %flex-space-between;
    flex-direction: column;
}

%flex-space-between-center {
    @extend %flex-space-between;
    align-items: center;
}

%flex-column-space-between-center {
    @extend %flex-space-between-center;
    flex-direction: column;
}

%flex-center {
    @extend %flex-align-center;
    justify-content: center;
}

%flex-align-center {
    @extend %flex;
    align-items: center;
}

%flex-column-align-center {
    @extend %flex-align-center;
    flex-direction: column;
}

%flex-shrink-zero { flex-shrink: 0; }
/*      End extends for flex      */