$color--FFFFFF          : #FFFFFF;
$color--FAFBFF          : #FAFBFF;
$color--F0F0F0          : #F0F0F0;
$color--F5F5F5          : #F5F5F5;
$color--F9FBFF          : #F9FBFF;
$color--EEEEEE          : #EEEEEE;
$color--B5B7C0          : #B5B7C0;
$color--ACACAC          : #ACACAC;
$color--838383          : #838383;
$color--7E7E7E          : #7E7E7E;
$color--757575          : #757575;
$color--3D3C42          : #3D3C42;
$color--e7e7e7          : #e7e7e7;
$color--9197B3          : #9197B3;
$color--5932EA          : #5932EA;
$color--4925E9          : #4925E9;
$color--333333          : #333333;
$color--404B52          : #404B52;
$color--D0004B          : #D0004B;
$color--DF0404          : #DF0404;
$color--FFC5C5          : #FFC5C5;
$color--16C098          : #16C098;
$color--00AC4F          : #00AC4F;
$color--00B087          : #00B087;
$color--008767          : #008767;
$font-size-14           : 14px;
$font-size-12           : 12px;
$letter-spacing-plus    : $font-size-14 * 0.01;
$letter-spacing-minus   : $font-size-14 * -0.01;
$max-image-items        : 5;
$image-move-size        : 8;
$dropdown-width         : 162px;
$sidebar-width          : 306px;